torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
torchrl
tensordict
torchinfo==1.8.0
gymnasium==1.2.3
vizdoom==1.3.0
numpy==2.4.2
pandas==3.0.1
wandb
tqdm==4.67.3
icecream==2.2.0
fire
PyYAML==6.0.3
protobuf==7.34.1